<% provide(:title, "About") %>
<h1>About Little BlueBird</h1>
<p>
  This micropost application is built with Ruby on Rails and it is <a href="http://salielim.com" target="_blank">Salie's</a> first real web app. 
  It took about 60 hours to build with the 
  <a href="http://www.railstutorial.org" target="_blank">Ruby on Rails Tutorial</a>, a fantastic book and screencast series.
  This app enables registered users to post and read short microposts, so <%= link_to "sign up", signup_path %> now to try it out.
</p>

<p>
  Little BlueBird features: 
  <ul>
    <li>Registration & authentication systems, including validation and secure passwords</li>
    <li>Account activation & password reset, emails are sent with Rails</li>
    <li>The option to update, display, and delete users</li>
    <li>Image upload using a cloud storage service</li>
    <li>Microblogging & social feature of following other users</li>
  </ul>
</p>