<footer class="footer">
  <small>
    Little BlueBird Micropost by <a href="http://salielim.com" target="_blank">Salie Lim</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>